@media print {
  body {
    font-size: 1.17rem;
    .pb-4 {
      page-break-inside:avoid;
    }
  }
  .jumbotron {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.my-name {
  font-size: 4rem;
}

.jumbotron span.oi {
  min-width: 32px;
}

.experience h4 {
  font-weight: bold;
}
